/* Sprite Container Styling */
#sprite-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#sprite-container div {
    display: flex;
    position: absolute;
    width: 33%;
    height: 88%;
    bottom: 0;
    z-index: 1;
    transition: transform 0.3s ease;
}

#sprite-container img {
    height: 100%;
    width: auto;
}

/* Individual Sprite Styling */
#sprite-1 {
    display: none;
}

#sprite-1.show {
    display: block;
}

/* Error message styling */
.error-message {
    color: red;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    max-width: 80%;
    text-align: center;
    pointer-events: all; /* Make error messages clickable */
}

/* Item markers for interactive elements */
.item-marker {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 0, 0.8);
    box-shadow: 0px 0px 10px rgba(255, 255, 0, 1);
    position: absolute;
    z-index: 3;
    cursor: pointer;
}

.item-marker:hover {
    border: 3px solid rgb(119, 196, 255);
    box-shadow: 0px 0px 20px rgb(119, 196, 255);
}

.item-marker.hide {
    display: none;
} 