* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    background-color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 3px;
    border: 0px;
    border-radius: 3px;
    padding-bottom: 3px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(116, 137, 147);
    margin: 0;
    padding: 0;
    user-select: none;
}

#container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


#container img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* Sidebar Styling */
#side-container h2 {
    width: calc(100% - 15px);
    color: whitesmoke;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2.5px solid whitesmoke;
}

#sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 75px;
    left: 25px;
    text-align: center;
    background: rgb(116, 137, 147);
    color: white;
    width: 320px;
    height: calc(100% - 125px);
    border-radius: 10px;
    transition: transform 0.3s ease;
    z-index: 3;
}

#sidebar.translate {
    transform: translate(-500px, 0px);
}

#side-container {
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
}

#side-container div {
    padding: 5px;
    font-size: 20px;
}

#side-container div:hover {
    background: rgb(95, 109, 122);
    cursor: pointer;
}

/* Settings Overlay */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 60%);
    z-index: 3;
}

#overlay.show {
    display: block;
}

/* Settings popups */
#settings-menu,
#restart-confirmation {
    display: none;
    position: fixed;
    min-width: 300px;
    width: 32%;
    padding: 20px 40px;
    left: 50%;
    top: 50%;
    text-align: left;
    border-radius: 10px;
    background: rgb(116, 137, 147);
    color: whitesmoke;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
    z-index: 4;
}

.keybinding {
    display: flex;
    gap: 10px;
    width: 100%;
}

.keybinding span:first-child {
    background: none;
    width: 35%;
}

.keybinding span {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background: rgb(95, 109, 122);
}

#restart-confirmation {
    width: fit-content;
    padding: 25px 40px;
    gap: 20px;
}

#settings-menu.show,
#restart-confirmation.show {
    display: block;
    opacity: 1;
}

#settings-menu h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

#restart-confirmation h2 {
    margin-bottom: 20px;
}

#settings-buttons {
    display: flex;
    gap: 10px;
}

#close-settings-btn,
#save-settings-btn,
#yes-restart,
#no-restart {
    width: 100%;
    padding: 10px;
    background: rgb(95, 109, 122);
    border: none;
    color: whitesmoke;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}

#close-settings-btn,
#save-settings-btn {
    font-size: 16px;
}

#close-settings-btn:hover,
#save-settings-btn:hover,
#restart-confirmation button:hover {
    background: rgb(75, 90, 103);
}

#restart-confirmation button {
    font-size: 20px;
    width: 40%;
    display: inline;
}

#restart-confirmation div {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* Sliders */
#volume-container,
#type-speed-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

#volume-container label,
#type-speed-container label {
    min-width: fit-content;
}

#volume-slider,
#type-speed-slider {
    width: calc(100% - 112.5px);
    cursor: pointer;
}

#volume-value,
#type-speed-value {
    font-weight: bold;
}

/* Dialogue Container Styling */
#dialogue-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    background: rgb(116, 137, 147, 75%);
    color: white;
    font-size: 22px;
    padding: 30px 20px;
    bottom: 50px;
    height: 200px;
    left: -100%;
    width: calc(100% - 50px);
    border-radius: 12px;
    transition: transform 0.3s ease;
    z-index: 2;
}

#dialogue-title {
    width: fit-content;
    position: absolute;
    background: whitesmoke;
    color: rgb(116, 137, 147);
    padding: 4px 24px;
    border-radius: 8px;
    top: -16px;
    left: 16px;
}

#dialogue-text {
    width: 80%;
}

#dialogue-container.translate {
    transform: translate(calc(100% + 75px), 0px);
}

#dialogue-options {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 10%;
    height: 15%;
    min-width: 100px;
    min-height: 25px;
    gap: 10px;
}

#dialogue-options div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    /* background: rgb(116, 137, 147); */
}

#dialogue-options div:hover {
    background: rgb(119, 196, 255);
    cursor: pointer;
}

/* Overlay Text Styling */
.overlay-text {
    display: flex;
    width: 50%;
    height: 80%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 28px;
}

/* Source: https://stackoverflow.com/questions/22609247/how-to-zoom-in-to-a-specific-point-smoothly-with-css */
/* Zoom into a point */
#background {
    background-image: url('./assets/exterior.jpg');
    background-size: 100%;
    background-position: center;
    transition: all 1s ease;
    width: 100%;
    height: 100%;
    transform: scale(1);
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform-origin: 50% 75%;
    transform-origin: 50% 75%;
}

#background.zoom {
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* Sprite Container Styling */
#sprite-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#sprite-container div {
    display: flex;
    position: absolute;
    width: 33%;
    height: 88%;
    bottom: 0;
    z-index: 1;
    /* transform: translate(+50%, 0); */
    transition: transform 0.3s ease;
}

#sprite-container img {
    height: 100%;
    width: auto;
}

/* Individual Sprite Styling */
#sprite-1 {
    display: none;
}

#sprite-1.show {
    display: block;
}

#sprite-2 {
    display: none;
}

#sprite-2.show {
    display: block;
}

#sprite-3 {
    display: none;
}

#sprite-3.show {
    display: block;
}

/* Story mode item marker */
.item-marker {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 0, 80%);
    box-shadow: 0px 0px 10px rgb(255, 255, 0, 100%);
    z-index: 3;
}

.item-marker:hover {
    /* background: rgb(255, 255, 0);
    box-shadow: 0px 0px 20px rgb(255, 255, 0); */
    border: 3px solid rgb(119, 196, 255);
    box-shadow: 0px 0px 20px rgb(119, 196, 255);
}

.item-marker.hide {
    display: none;
}

/* Inventory Styling */
#carousel {
    background: rgb(116, 137, 147, 88%);
    position: absolute;
    display: flex;
    width: calc(100% - 200px);
    height: 120px;
    top: 48%;
    left: 100px;
    z-index: 4;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transform: translate(-100vw, 0px);
    transition: transform 0.3s ease;

}

#carousel.show {
    transform: translate(0px, 0px);
}

#carousel-left,
#carousel-right {
    color: whitesmoke;
    font-size: 40px;
    padding: 10px;
}

#carousel-left:hover,
#carousel-right:hover {
    color: rgb(119, 196, 255);
    cursor: pointer;
}


#carousel-items {
    margin: auto;
    width: calc(100% - 20px);
    height: calc(100%);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 5px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.carousel-item,
.carousel-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100px;
    min-width: 100px;
    height: 100px;
    background: rgb(255, 255, 255, 88%);
    border-radius: 5px;
    transition: transform 3s ease;
}

.carousel-item img {
    width: 80%;
    height: 80%;
}

/* Description styling */
.item-description {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: whitesmoke;
    bottom: 0;
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.carousel-item:hover .item-description {
    display: block;
}

.carousel-item:hover {
    transform: scale(1.1);
}

/* Story mode inventory img */