* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #748993;
    margin: 0;
    padding: 0;
}

#container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#container h1 {
    position: absolute;
    margin: 10px 15px;
    font-size: 40px;
    color: #ffff;
}

#container img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* Sidebar Styling */
#sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 75px;
    left: 25px;
    text-align: center;
    background: #748993;
    color: white;
    width: 320px;
    height: calc(100% - 125px);
    border-radius: 10px;
    transition: transform 0.3s ease;
    z-index: 3;
}

#sidebar.translate {
    transform: translate(-500px, 0px);
}

#side-container {
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
}

#side-container div {
    padding: 5px;
    font-size: 20px;
}

#side-container div:hover {
    background: #5f6d7a;
    cursor: pointer;
}

/* dark overlay */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 60%);
    z-index: 4;
}

#overlay.show {
    display: block;
}

/* Sound settings popup */
#sound-settings {
    display: none;
    position: fixed;
    min-width: 300px;
    width: 32%;
    padding: 20px 40px;
    left: 50%;
    top: 50%;
    text-align: left;
    border-radius: 10px;
    background: #748993;
    color: #ffff;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
    z-index: 5;
}

#settings-menu {
    display: none;
    position: fixed;
    min-width: 300px;
    width: 32%;
    padding: 20px 40px;
    left: 50%;
    top: 50%;
    text-align: center;
    border-radius: 10px;
    background: #748993;
    color: #ffff;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
    z-index: 5;
}

#settings-menu.show, #restart-confirmation.show {
    display: block; 
    opacity: 1; 
}

#close-settings-menu, #yes-restart, #no-restart {
    width: 100%;
    padding: 10px;
    background: #5f6d7a;
    border: none;
    color: #ffff;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    transition: background 0.3s ease;
}

#settings-menu, #restart-confirmation button:hover {
    background: #4b5a67;
}

#sound-settings.show {
    display: block;
    opacity: 1;
}

#sound-settings h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

#restart-confirmation {
    display: none;
    position: fixed;
    min-width: 300px;
    width: 42%;
    padding: 20px 40px;
    left: 50%;
    top: 50%;
    text-align: center;
    border-radius: 10px;
    background: #748993;
    color: #ffff;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
    z-index: 5;
}

#restart-confirmation h2 {
    padding: 20px; 
}

#restart-confirmation button {
    font-size: 20px; 
    width: 40%;
    display: inline; 
}

/* Volume Slider */
#volume-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

#volume-slider {
    width: calc(100% - 112.5px);
    cursor: pointer;
}

#volume-value {
    font-weight: bold;
}

#close-sound-settings {
    width: 100%;
    padding: 10px;
    background: #5f6d7a;
    border: none;
    color: #ffff;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    transition: background 0.3s ease;
}

#sound-settings button:hover {
    background: #4b5a67;
}

/* Dialogue Container Styling */
#dialogue-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    background: rgb(116, 137, 147, 75%);
    color: white;
    font-size: 22px;
    padding: 30px 20px;
    bottom: 50px;
    height: 200px;
    left: -100%;
    width: calc(100% - 50px);
    border-radius: 12px;
    transition: transform 0.3s ease;
    z-index: 2;
}

#dialogue-title {
    width: fit-content;
    position: absolute;
    /* background: rgb(116, 137, 147, 100%); */
    background: whitesmoke;
    color: rgb(116, 137, 147, 100%);
    padding: 4px 24px;
    border-radius: 8px;
    top: -16px;
    left: 16px;
}

#dialogue-text {
    width: 80%;
}

#dialogue-container.translate {
    transform: translate(calc(100% + 75px), 0px);
}

/* Source: https://stackoverflow.com/questions/22609247/how-to-zoom-in-to-a-specific-point-smoothly-with-css */
/* Zoom into a point */
#background {
    background-image: url('./assets/exterior.jpg');
    background-size: 100%;
    background-position: center;
    transition: all 1s ease;
    width: 100%;
    height: 100%;
    transform: scale(1);
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform-origin: 50% 75%;
    transform-origin: 50% 75%;
}

#background.zoom {
    -webkit-transform: scale(2);
    transform: scale(2);
}

/* Sprite Container Styling */
#sprite-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    z-index: 0
}

#sprite-container div {
    display: flex;
    width: 33%;
    height: 100%;
    z-index: 1;
    transform: translate(+50%, 0);
    transition: transform 0.3s ease;
}

#sprite-container img {
    height: 100%;
    width: auto;
}

/* Individual Sprite Styling */
#sprite-1 { display: none;}
#sprite-1.show { display: block; }

#sprite-2 { display: none; }
#sprite-2.show { display: block;}

#sprite-3 { display: none;}
#sprite-3.show { display: block;}